body {
  font-family: Arial;
  margin: 0;
  background: #fff;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
  color: white;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px;
  background: #f8e8e8;
}

button {
  background: gold;
  border: none;
  padding: 10px 20px;
}
