body {
  font-family: Arial;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
  color: white;
}

nav a {
  color: white;
  margin: 10px;
}

.hero {
  height: 80vh;
  background: #f5dede;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  text-align: center;
}

button {
  background: gold;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.products {
  padding: 40px;
}

.grid {
  display: flex;
  gap: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 20px;
}

.cart {
  padding: 40px;
}
